.jbl {
	float: left;
	max-width: 25%;
}
.jbr {
	float: right;
	width: 70%; margin-left: 10px; 
}
@media screen and (max-width: 600px) {
	.jbl {
		display: none
	}
	.jbl, .jbr, .jbr p{
		float: none;
		width: auto;
		margin: auto;
		text-align: justify;
	}

}

@media screen and (min-width: 991px) {
	.bnav{
		display: none;
	}
	
}